@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bohemian Rhapsody</h1>
    <button onclick="myFunction()">Click for more info...</button>
    <p id="author"></p>
    <iframe id="myContainer"
            src="https://www.youtube.com/embed/fJ9rUzIMcZQ">
    </iframe>
</div>
